.layout {
    display: flex;
    gap: 20px;
}

.poster-div img {
    width: 200px;
    margin: 20px;
}

.details-div h1,
.details-div p,
.details-div img,
.details-div button
{
    margin-top: 20px;
}

.info-section {
    display: flex; 
    gap: 10px;
}

.info-section div {
    display: flex; 
}

.rating {
    color: yellow;
}

.backdrop-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Replicates the 'background-size: cover' effect */
  z-index: -1;      /* Pushes the image behind the content */
  pointer-events: none; /* Prevents the image from blocking clicks on content */
  opacity: 0.5;
}
